body{
    background-color: #181A1B;
    color: #ccc;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.name{
    padding-top: 25px;
    text-align: center;
}
.subName{
    text-align: center;
}