body{
    background-color: #009688;
    color: #ccc;
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    padding: 0px;
}
p{
    font-family: 'Roboto', serif;
}
.pInfo{
    font-weight: bold !important;
}
h2{
    color: #009688;
}
.center{
    text-align: center;
}
.details{
    background-color: #181A1B;
    padding: 30px 0px;
}
.profilePic{
    width: 200px;
    border-radius: 50%;
}
.icons{
    color: #ccc;
    padding: 20px;
}
.onlineContact{
    padding: 30px;
}
.card{
    background-color: #35393B;
    color: #ccc;
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
}